In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import sklearn <-- instalar pacote

In [10]:
iris_treino = pd.read_csv("baseDados/iris-treino.csv")
iris_teste = pd.read_csv("baseDados/iris-teste.csv")

In [11]:
iris_treino.head()

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.2          3.4           5.4          2.3   virginica
1           5.1          3.3           1.7          0.5      setosa
2           6.7          2.5           5.8          1.8   virginica
3           5.6          2.5           3.9          1.1  versicolor
4           4.4          3.2           1.3          0.2      setosa

In [12]:
iris_teste.head()

   sepal_length  sepal_width  petal_length  petal_width     species
0           7.7          3.8           6.7          2.2   virginica
1           6.3          3.3           6.0          2.5   virginica
2           7.2          3.2           6.0          1.8   virginica
3           7.0          3.2           4.7          1.4  versicolor
4           6.8          2.8           4.8          1.4  versicolor